/* main color scheme */
:root{
    --primary: #EF0D50;
    --secondary: #E5BACE;
    --tertiary: #E1F2F7;
    --accent: magenta; 
    --light:#EB3A70;
    --white: #ffffff;
    --black: #000000;
}

/* 
:root{
    --primary: #424874;
    --secondary: #dcd6f7;
    --tertiary: #d6e5e3;
    --accent: #cacfd6;
    --light:#EB3A70;
    --white: #ffffff;
    --black: #000000;
} */

